<!-- begin:: Header -->
<div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed " data-ktheader-minimize="on">
    <div class="kt-header__top">
    <div class="kt-container" style="width: 80%; margin: 0 auto;">

            <!-- begin:: Brand -->
            <div class="kt-header__brand   kt-grid__item" id="kt_header_brand">
                <div class="kt-header__brand-logo">
                    <a routerLink="/dashboard">
            <img alt="Logo" src="https://drive.syscorp.app/Defaults/Components/appMenuCultura.png" width="64" height="64" class="kt-header__brand-logo-default"/>
            <img alt="Logo" src="https://drive.syscorp.app/Defaults/Components/appMenuCultura.png" width="64" height="64" class="kt-header__brand-logo-sticky"/>
                    </a>
                </div>
        <div class="kt-container">
          <!-- begin: Header Menu -->
          <span *ngFor="let item of navItems" class="kt-nav__link-text">
            <!-- Handle branch node buttons here -->
            <span *ngIf="item.children && item.children.length > 0">
              <button style="color: #fff;" mat-button [matMenuTriggerFor]="menu.childMenu" [disabled]="item.disabled">
                {{ item.displayName }}
                                </button>
              <app-menu-item #menu [items]="item.children"></app-menu-item>
            </span>

            <!-- Leaf node buttons here -->
            <span *ngIf="!item.children || item.children.length === 0">
              <button style="color: #fff;" mat-button color="primary" [routerLink]="item.route">
                {{ item.displayName }}
              </button>
            </span>
          </span>
          <!-- end: Header Menu -->
                </div>
            </div>
            <!-- end:: Brand -->

            <!-- begin:: Header Topbar -->
            <div class="kt-header__topbar">

                <!--begin: User bar -->
                <div class="kt-header__topbar-item kt-header__topbar-item--user">

                    <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,10px" aria-expanded="false">
                        <span class="kt-header__topbar-welcome"></span>
                        <span class="kt-header__topbar-username">{{_UsuarioService._DataSession.NombreCompleto}}</span>
            <img class="rounded-circle" alt="UserPic" src="{{ _UsuarioService._DataSession.Foto }}"/>
                    </div>
          <div id="panelUserDetail" class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">

                        <!--begin: Head -->
                        <div class="kt-user-card kt-user-card--skin-light kt-notification-item-padding-x">
                            <div class="kt-user-card__avatar">
                <br/>
                <img class="rounded-circle" alt="UserPic" src="{{ _UsuarioService._DataSession.Foto }}"/>

                                <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden">S</span>
                            </div>
              <div class="kt-user-card__name"> {{_UsuarioService._DataSession.NombreCompleto}}</div>
                        </div>
                        <!--end: Head -->

                        <!--begin: Navigation -->
                        <div class="kt-notification">
              <a (click)="goToProfile()" class="kt-notification__item pointer">
                                <div class="kt-notification__item-icon">
                                    <i class="flaticon2-calendar-3 kt-font-success"></i>
                                </div>
                                <div class="kt-notification__item-details">
                                    <div class="kt-notification__item-title kt-font-bold">
                                        Mi perfil
                                    </div>
                                    <div class="kt-notification__item-time">
                                        Configuraciones de cuenta y más
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="kt-notification__item">
                                <div class="kt-notification__item-icon">
                                    <i class="flaticon2-rocket-1 kt-font-danger"></i>
                                </div>
                                <div class="kt-notification__item-details">
                                    <div class="kt-notification__item-title kt-font-bold">
                                        Mis actividades
                                    </div>
                                    <div class="kt-notification__item-time">
                                        Registros y notificaciones
                                    </div>
                                </div>
                            </a>
                            <div class="kt-notification__custom kt-space-between">
                                <a href="#" (click)="_UsuarioService.logout()" class="btn btn-label btn-label-brand btn-sm btn-bold">Cerrar sesión</a>
                                <a (click)="acercaDe()" class="btn btn-clean btn-sm btn-bold pointer">Acerca de</a>
                            </div>
                        </div>
                        <!--end: Navigation -->

                    </div>
                </div>
                <!--end: User bar -->

            </div>
            <!-- end:: Header Topbar -->
        </div>
    </div>
        </div>
<!-- end:: Header -->

<div class="sidebar">
  <div class="logo-details">
    <i class="bx bxl-c-plus-plus icon" (click)="infoEmpresa()" style="cursor: pointer;"></i>
    <div class="logo_name" (click)="infoEmpresa()" style="cursor: pointer;">Syscorp Cloud</div>
    <i class="bx bx-menu" id="btn" (click)="closeOpenMenu()"></i>
  </div>
  <ul class="nav-list">
    <li *ngFor="let _Componente of ListaComponentes">
      <a href="{{ _Componente.Url }}">
        <img class="rounded-circle" width='64' height='64' src='{{ _Componente.ImagenUrl }}' alt='{{ _Componente.Nombre }}'>
        <span class="links_name">{{ _Componente.Nombre }}</span>
      </a>
      <span class="tooltip">{{ _Componente.Nombre }}</span>
    </li>
    <li class="profile pointer">
      <div class="profile-details">
        <img src="{{ _UsuarioService._DataSession.Foto }}" alt="UserPic" />
        <div class="name_job">
          <div class="name">
            {{ _UsuarioService._DataSession.NombreCompleto }}
          </div>
          <div class="job">Admin</div>
        </div>
      </div>
      <i class="bx bx-log-out" id="log_out" (click)="_UsuarioService.logout()"></i>
    </li>
  </ul>
</div>
