<div class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

    <!-- begin:: Page -->
    <div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v6" style="background-image: url(./assets/media/error/bg6.jpg);">
            <div class="kt-error_container">
                <div class="kt-error_subtitle kt-font-light">
                    <h1>Oops...</h1>
                </div>
                <p class="kt-error_description kt-font-light">
                    Parece que algo salió mal.<br> Estamos trabajando en ello.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- end:: Page -->