<!-- begin:: Header -->
<app-header></app-header>
<!-- end:: Header -->

<!-- begin:: Content Global -->
<div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content" style="width: 90%; margin: 0 auto;">
        <router-outlet></router-outlet>
    </div>
</div>
<!-- end:: Content Global -->

<!-- begin:: Footer -->
<!-- <app-footer></app-footer> -->
<!-- end:: Footer -->
