<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<!-- begin:: Head -->
<div class="kt-subheader   kt-grid__item">
    <div class="kt-container">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                {{Action === 'edit' ? 'Editar' : 'Nuevo'}} Barrio
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        </div>
        <div class="kt-subheader__toolbar">
            <button type="button" class="btn btn-outline-secondary btn-icon" title="Atrás" (click)="cancelar()"><i class="fa fa-chevron-circle-left"></i></button>
            <button type="button" class="btn btn-outline-primary btn-icon" title="Guardar" (click)="validarGuardar()"><i class="fa fa-floppy-o"></i></button>
        </div>
    </div>
</div>
<!-- end:: Head -->

<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="row">

        <div class="agmat-container col-md-6">
            <mat-form-field>
                <mat-label>Comuna</mat-label>
                <mat-select [(ngModel)]="currentBarrio.ComunaID" #ComunaID="ngModel" id="ComunaID" name="ComunaID">
                    @for (comuna of ComunaList; track comuna) {
                        <mat-option [value]="comuna.ComunaID">{{ comuna.Nombre }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        <div class="agmat-container col-md-6">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput [(ngModel)]="currentBarrio.Nombre" #Nombre="ngModel" placeholder="Nombre" id="Nombre" name="Nombre" required>
            </mat-form-field>
        </div>

        

    </div>

    <div class="row">
        <div class="agmat-container col-md-12">
            <mat-form-field>
                <mat-label>Descripción</mat-label>
                <textarea matInput [(ngModel)]="currentBarrio.Descripcion" #Descripcion="ngModel" placeholder="Descripción" id="Descripcion" name="Descripcion" rows="5"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="agmat-container col-md-2">

        </div>
        <div class="agmat-container col-md-2">

        </div>
        <div class="agmat-container col-md-2">

        </div>
        <div class="agmat-container col-md-2">

        </div>
        <div class="agmat-container col-md-2">

        </div>
        <div class="agmat-container col-md-2">

        </div>
    </div>

</div>
<!-- end:: Content -->
